%figure-aligned-default
	@media (max-width: #{lower-bound($large-range)})
		float: none
		@extend %foo
		%figcaption-outside-top-unaligned
			@media #{$medium-up}
				margin-left: -40%
figure
	img
		margin:
			bottom: 0.5em
.figure
	&-align
		@each $side in ('left', 'right')
			&-#{$side}
				@each $size, $media in ('large', $large-up), ('medium', $medium-up), ('small', $small-up)
					&-#{$size}
						@media #{$media}
							float: unquote($side)
							margin-#{$side}: 0
						@extend %figure-aligned-default
	&-small
		margin-top: 0
		@extend %figure-fit
		img
			max-width: 80px
		&%firure-small-figcaption-outside-container
			@media #{$medium-up}
				margin:
					bottom: 5em
	&-fullwidth
		@media #{$medium-up}
			$offset: $column-gutter/2 + $row-offset
			margin:
				left: -$offset
				right: -$offset
		@media #{$small-only}
			$offset: $column-gutter
			margin:
				left: -$offset/2
				right: -$offset/2
			figcaption
				padding:
					left: $offset
					right: $offset
		img
			width: 100%
	&-fit
		@extend %figure-fit
	&-outside
		&-container
			position: relative
		@media #{$large-up}
			&-left
				@extend %figure-outside
				img
					margin:
						left: -100%
						right: $column-gutter/2
			&-right
				@extend %figure-outside
				img
					margin:
						right: -100%
						left: $column-gutter/2
%figure-fit
	margin:
		left: 0
		right: 0
%figure-outside
	@media #{$large-up}
		position: absolute
%figcaption-outside
	@media #{$medium-up}
		position: absolute
		width: 10em
	text-align: left
.figcaption
	&-outside
		&-container
			position: relative
			@extend %firure-small-figcaption-outside-container
			&%foo
				@media #{$medium-up}
					margin-left: 50%
		&-content
			@media #{$medium-up}
				position: absolute
			width: 100%
			@extend %figcaption-outside-top-content
			@extend %figcaption-outside-left-content
			@extend %figcaption-outside-bottom-left-content
		&-top
			@extend %figcaption-outside
			width: 15em
			top: 0
			left: 50%
			@media #{$medium-up}
				text-align: center
			%figcaption-outside-top-content
				bottom: 100%
				left: -50%
			@extend %figcaption-outside-top-unaligned
		&-left
			@extend %figcaption-outside
			top: 1em
			left: 0
			%figcaption-outside-left-content
				left: -100%
		&-bottom
			&-left
				@extend %figcaption-outside
				bottom: 0
				left: 0
				%figcaption-outside-bottom-left-content
					left: -80%
	&-group
		$offset: $column-gutter
		margin-bottom: $offset !important
		&-item
			@extend %row-item
		&-row
			@media #{$medium-up}
				display: table
				%row-item
					display: table-cell
					float: none !important
					position: relative
					&::before
						content: ''
						display: block
						position: absolute
						left: $column-gutter/2
						$height: $offset
						bottom: -($height + 0.5)
						height: $height
						border-left: 1px solid gray

						z-index: -1
