.figure
	&-align
		&-right
			float: right
	&-small
		margin:
			left: 0
			right: 0
			top: 0
		img
			max-width: 80px
		&%firure-small-figcaption-outside-container
			margin:
				bottom: 5em
%figcaption-outside
	position: absolute
	width: 11em
.figcaption
	&-outside
		&-container
			position: relative
			@extend %firure-small-figcaption-outside-container
		&-content
			position: absolute
			width: 100%
			@extend %figcaption-outside-top-content
			@extend %figcaption-outside-left-content
			@extend %figcaption-outside-bottom-left-content
		&-top
			@extend %figcaption-outside
			width: 15em
			top: 0
			left: 50%
			text-align: center
			%figcaption-outside-top-content
				bottom: 100%
				left: -50%
		&-left
			@extend %figcaption-outside
			top: 1em
			left: 0
			%figcaption-outside-left-content
				left: -100%
		&-bottom
			&-left
				@extend %figcaption-outside
				bottom: 0
				left: 0
				%figcaption-outside-bottom-left-content
					left: -80%
