.rounded
	border-radius: 9999px
.image
	&-rounded
		@extend .rounded
.link
	&-modal
		border-bottom: 1px dashed
.text
	&-small
		font:
			size: $small-font-size
	&-large
		font:
			size: 18pt
hr
	&.arrow
		$color: gray
		border-color: $color
		position: relative
		&::before, &::after
			content: ''
			display: block
			position: absolute
			$size: 20px
			top: -$size/2
			width: $size
			height: $size
			border: 1px solid $color
			clip: rect(auto, $size/2, $size/2, auto)
		&::before
			left: 3px
			transform: rotate(-45deg)
		&::after
			right: 3px
			transform: rotate(135deg)
		&-vertical
			transform: rotate(90deg)
			top: 50%
.align
	&-left
		float: left
		margin-left: 0
		padding-left: 0
	&-right
		float: right
		margin-right: 0
		padding-left: 0
