//- Homepage Markup
extends ./layouts/base
block content
	.row
		aside.large-3.columns
			figure.figure-align-right.figure-small.figcaption-outside-container
				img(src='images/vader.jpg')
				figcaption.figcaption-outside-top
					p.figcaption-outside-content: em
						| Когда там
						=' '
						a(href='#modal-01').link-modal конец света
						| ?
				figcaption.figcaption-outside-left
					p.figcaption-outside-content: em
						| Большой секрет
						=' '
						a(href='#modal-02').link-modal чёрной материи
						| .
				figcaption.figcaption-outside-bottom-left
					p.figcaption-outside-content: em
						| Куда пропало
						=' '
						a(href='#modal-03').link-modal антивещество
						| ?
		main.large-9.columns
			p Если бы вы вдруг начали копать яму прямо в центре небольшой французской деревни Крозе, то уже через 90 метров смогли бы попасть в место, напоминающее логово злодея. Ярко освещенный тоннель уходит вдаль, прерываясь каждые несколько километров высокими сооружениями, с низу до верху заполненными тяжелыми стальными конструкциями, тросами,трубами, проводами, магнитами и различными загадочными устройствами.
			aside#collider-depth
				hr.arrow.arrow-vertical#collider-depth-arrow
				#collider-depth-inner
					p.text-small: em Тоннель проходит на глубине от 50 до 150 метров.
					p.text-small: em
						a(href='#modal-04').link-modal Зачем закапывали?
	.row
		.columns
			h1.text-center.large-text-left Это и есть Большой адронный коллайдер.
			figure.figure-align-right.text-center
				img(src='images/photo-collider.jpg').image-rounded
				figcaption
					p
						a(href='#modal-05').link-modal Другие фотографии
			p.medium-push-1 Большой адронный коллайдер (БАК) — это гигантский научный прибор, расположенный под французской и швейцарской землей. Это ускоритель, который физики используют для исследования самых маленьких из известиных частиц — строительных блоков всего, что есть во Вселенной.
			.clearfix
				aside.align-left.aside-small
					p.text-large
						em Большой Адронный Коллайдер
				.align-left
					p Он действительно большой. Длина основного кольца БАКа — 27 километров.
					p Ускоритель разгоняет протоны или ионы, которые называются «адроны».
					p Частицы разгоняются до высоких скоростей и сталкиваются друг с другом. «Сталкиваться» по-английски «ту кэллэйд».
			figure.figure-fullwidth
				.row.figcaption-group.figcaption-group-row
					mixin figcaption
						figcaption.figcaption-group-item.medium-4.columns
							.figcaption-group-item-inner.text-small.text-compress
								block
					+figcaption
						h3 До Солнца за 8 минут
						p Скорость протонов достигает 0.999999991 скорости света. При этом каждая частица проходит 27-километровый тоннель более 11 тысяч раз в секунду.
					+figcaption
						h3 Горячие швейцарские адроны
						p При полном разгоне протонный пучок обладет энергией, эквивалентной энергии 400-тонного поезда, движущегося со скоростью 150 км/ч. Этого достаточно, чтобы расплавить 500 кг меди.
					+figcaption
						h3 Трубы испустили дух
						p Для того, чтобы разгоняемые частицы не сталкивались с молекулами воздуха, в тоннеле поддерживается сверхвысокий вакуум. Давление здесь о 10 раз ниже, чем на Луне.
				img(src='images/what-happening.jpg')
		.row
			.medium-6.columns
				aside.figure-left
					figure
						img(src='images/snowflake.jpg')
					h3 Отмороженные магниты
					p Состояние сверхпроводимости требует охлаждения магнитов до -27ГС. Это еще холоднее чем в открытом космосе. Ускоритель подключён к системе распределения жидкого гелия, который охлаждает магниты и сопутствующие устройства.
				h2 По трубе навстречу судьбе
				p Внутри ускорителя два пучка высокоэнсргстических частиц перемещаются со скоростью, близкой к скорости света, до столкновения друг с другом. Пучки движутся по раздельным трубам в противоположных направлениях. Они направляются вдоль кольца ускорителя сильным магнитным полем, получаемым с помощью сверхпроводящих электромагнитов. Магниты находятся в состоянии сверхпроводимости, что делает возможной эффективную передачу электричества без потери энергии.
				aside.figure-left#aside-nail
					figure
						img(src='images/nipple.jpg')
					h3 Стог сена, прости
					p Адроны настолько маленькие, что их столкновение сродни выстрелу иглами на расстоянии в 10 километров с такой точностью, чтобы они встретились на полпути.
				p.medium-push-1
					| Тысячи магнитов разных типов и размеров используются для направления пучков вдоль ускорителя. Коллайдер снабжен 1232 дипольными магнитами, которые используются для поворота пучков и 392 квадрупольными магнитами для фокусировки частиц.
					br
					| Магниты другого типа используются прямо перед столкновением для сжатия пучков частиц и увеличения вероятности столкновения.
