//- Homepage Markup
extends ./layouts/base
block content
	.row
		aside.large-3.columns
			figure.figure-align-right-large.figure-small.figcaption-outside-container
				img(src='images/vader.jpg')
				figcaption.figcaption-outside-top
					p.figcaption-outside-content: em
						| Когда там
						=' '
						a(href='#modal-01').link-modal конец света
						| ?
				figcaption.figcaption-outside-left
					p.figcaption-outside-content: em
						| Большой секрет
						=' '
						a(href='#modal-02').link-modal чёрной материи
						| .
				figcaption.figcaption-outside-bottom-left
					p.figcaption-outside-content: em
						| Куда пропало
						=' '
						a(href='#modal-03').link-modal антивещество
						| ?
		main.large-9.columns
			p Если&nbsp;бы вы вдруг начали копать яму прямо в&nbsp;центре небольшой французской деревни Крозе, то уже через 90&nbsp;метров смогли бы попасть в&nbsp;место, напоминающее логово злодея. Ярко освещённый тоннель уходит вдаль, прерываясь каждые несколько километров высокими сооружениями, снизу доверху заполненными тяжёлыми стальными конструкциями, тросами, трубами, проводами, магнитами и&nbsp;различными загадочными устройствами.
			aside#collider-depth
				hr.arrow.arrow-vertical#collider-depth-arrow
				#collider-depth-inner
					p.text-small: em Тоннель проходит на&nbsp;глубине от&nbsp;50 до&nbsp;150&nbsp;метров.
					p.text-small: em
						a(href='#modal-04').link-modal Зачем закапывали?
	.row
		.columns
			h1.text-center.large-text-left Это и есть Большой адронный коллайдер.
			figure.figure-align-right-large.text-center
				img(src='images/photo-collider.jpg').image-rounded
				figcaption
					p
						a(href='#modal-05').link-modal Другие фотографии
			p.medium-push-1 Большой адронный коллайдер (БАК) — это гигантский научный прибор, расположенный под&nbsp;французской и&nbsp;швейцарской землей. Это ускоритель, который физики используют для&nbsp;исследования самых маленьких из&nbsp;известиных частиц — строительных блоков всего, что&nbsp;есть во&nbsp;Вселенной.
			.clearfix
				aside.align-left.aside-small
					p.text-large
						em Большой Адронный Коллайдер
				.align-left
					p Он действительно большой. Длина основного кольца БАКа — 27&nbsp;километров.
					p Ускоритель разгоняет протоны или&nbsp;ионы, которые называются «адроны».
					p Частицы разгоняются до&nbsp;высоких скоростей и&nbsp;сталкиваются друг с&nbsp;другом. «Сталкиваться» по-английски – «ту&nbsp;кэллэйд».
			figure.figure-fullwidth
				.row.figcaption-group.figcaption-group-row
					mixin figcaption
						figcaption.figcaption-group-item.medium-4.columns
							.figcaption-group-item-inner.text-small.text-compress
								block
					+figcaption
						h3 До&nbsp;Солнца за&nbsp;8&nbsp;минут
						p Скорость протонов достигает 0.999999991 скорости света. При&nbsp;этом каждая частица проходит 27-километровый тоннель более 11&nbsp;тысяч раз в&nbsp;секунду.
					+figcaption
						h3 Горячие швейцарские адроны
						p При&nbsp;полном разгоне протонный пучок обладет энергией, эквивалентной энергии 400-тонного поезда, движущегося со&nbsp;скоростью 150&nbsp;км/ч. Этого достаточно, чтобы расплавить 500&nbsp;кг&nbsp;меди.
					+figcaption
						h3 Трубы испустили&nbsp;дух
						p Для&nbsp;того, чтобы разгоняемые частицы не&nbsp;сталкивались с&nbsp;молекулами воздуха, в&nbsp;тоннеле поддерживается сверхвысокий вакуум. Давление здесь в&nbsp;10&nbsp;раз ниже, чем на&nbsp;Луне.
				img(src='images/what-happening.jpg')
	.row.offset
		.columns
			aside.figure-align-right-medium.figure-outside-container.text-small.large-3.medium-4.medium-push-1.columns.text-compress-small
				figure.figure-small.figure-outside-left
					img(src='images/snowflake.jpg')
				h3 Отмороженные магниты
				p Состояние сверхпроводимости требует охлаждения магнитов до&nbsp;-270°С. Это ещё&nbsp;холоднее, чем в&nbsp;открытом космосе. Ускоритель подключен к&nbsp;системе распределения жидкого гелия, который охлаждает магниты и&nbsp;сопутствующие устройства.
			h3 По&nbsp;трубе навстречу судьбе
			p Внутри ускорителя два&nbsp;пучка высокоэнсргстических частиц перемещаются со&nbsp;скоростью близкой к&nbsp;скорости света до&nbsp;столкновения друг&nbsp;с&nbsp;другом. Пучки движутся по&nbsp;раздельным трубам в&nbsp;противоположных направлениях. Они направляются вдоль кольца ускорителя сильным магнитным полем, получаемым с&nbsp;помощью сверхпроводящих электромагнитов. Магниты находятся в&nbsp;состоянии сверхпроводимости, что&nbsp;делает возможной эффективную передачу электричества без&nbsp;потери энергии.
	.row.offset
		.columns
			aside.figure-align-right-medium.text-small.large-3.medium-4.medium-push-1.columns.text-compress-small
				figure.figure-fit.large-pull-5
					img(src='images/nipple.jpg')
				h3 Стог сена, прости
				p Адроны настолько маленькие, что их&nbsp;столкновение сродни выстрелу иглами на&nbsp;расстоянии в&nbsp;10&nbsp;километров с&nbsp;такой точностью, чтобы они встретились на&nbsp;полпути.
			p.medium-push-1
				| Тысячи магнитов разных типов и&nbsp;размеров используются для&nbsp;направления пучков вдоль ускорителя. Коллайдер снабжен 1232 дипольными магнитами, которые используются для&nbsp;поворота пучков и&nbsp;392&nbsp;квадрупольными магнитами для&nbsp;фокусировки частиц.
				br
				| Магниты другого типа используются прямо перед столкновением для&nbsp;сжатия пучков частиц и&nbsp;увеличения вероятности столкновения.
